@media screen and (min-width: 150px) and (max-width: 767px){
    .navigation__item--currentlink {
            color: $focus-color;
        }
    
        .navigation {
            display: flex;
            flex-direction: column;
            padding-left: 50px;
        }
    
        .navigation__item:not(:last-child) {
            padding-bottom: 32px
        }
    
        .navigation__link {
            display: block;
    
            font-weight: 500;
            font-size: 40px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            text-decoration: none;
            color: $primary-text-color;
    
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                color: $focus-color;
    
            }
        }
    
        .navigation__link--current {
            position: relative;
            color: #2196f3;
        }
        
        .navigation {
            display: none;
        }
        
        .navigation__menu .navigation {
            display: block;
        }
            
}