@media screen and (min-width: 1200px){
    .header__logo {
            margin-right: 93px;
            padding-top: 24px;
            padding-bottom: 25px;
    
            font-family: 'Raleway';
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            color: $primary-text-color;
            text-decoration: none;
        }
}