@media screen and (min-width: 1200px) {
    .ourteam {
            margin-top: 0px;
            margin-bottom: 50px;
    
            font-weight: 700;
            font-size: 36px;
            line-height: 1.16;
            text-align: center;
            letter-spacing: 0.03em;
            color: $primary-text-color;
        }
    
        .team-container {
            background-color: #F5F4FA;
            margin: auto;
            max-width: 1600px;
        }
    
        .team {
            display: flex;
    
        }
    
        .team__item {
            background-color: #FFFFFF;
            padding-bottom: 30px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
        }
    
        .team__item:not(:last-child) {
            margin-right: 30px;
        }
    
        .team__name {
            margin-top: 30px;
            margin-bottom: 0px;
    
    
            font-weight: 500;
            font-size: 16px;
            line-height: 1.18;
            text-align: center;
            letter-spacing: 0.03em;
            color: $primary-text-color;
        }
    
        .team__text {
            margin-top: 10px;
            margin-bottom: 16px;
    
            font-weight: 400;
            font-size: 16px;
            line-height: 1.18;
            text-align: center;
            letter-spacing: 0.03em;
            color: $secondary-text-color;
        }
    
        .network {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .network__item:not(:last-child) {
            margin-right: 10px;
        }
    
        .network__link {
            display: flex;
            width: 44px;
            height: 44px;
            align-items: center;
            background-color: $primary-background-color;
            border-radius: 50%;
    
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                background-color: #2196F3;
                cursor: pointer;
            }
        }
    
        .network__link:focus .network__icon {
            fill: $primary-background-color;
        }
    
        .network__icon {
            fill: #AFB1B8;
            padding: 12px;
    
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover {
                fill: $primary-background-color;
            }
        }
}